
  <%= form_with(model: tweet, local: true) do |form| %>
    <% if tweet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

        <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card mb-3 mx-auto">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="card-body">
            <%= form.text_field :content, :rows => 2, style: 'width:100%;', class: "input-tweet card-text content-tweet my-4" %>
            <div class="actions">
              <%= form.submit %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
