<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Content</th>
      <th>RT</th>
      <th>Like</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= image_tag tweet.user.photo_url, :width=> "40", :height=> "40"%></td>
        <td>@<%= tweet.user %></td>
        <td><%= tweet.content %></td>
        <td><% if user_signed_in? %>
          <% if tweet.retweeted?(current_user) %>
            <%= button_to "Retweet", retweet_tweet_path(tweet), disabled:true %>
            <%= tweet.retweet_count %>
          <% else %>
            <%= button_to "Retweet", retweet_tweet_path(tweet)%>
            <%= tweet.retweet_count %>
          <% end %>
          <% end %>
        </td>
        <td><% if user_signed_in? %>
          <% if tweet.liked?(current_user) %>
            <%= button_to "Like", like_tweet_path(tweet), disabled:true %>
            <%= tweet.like_count %>
          <% else %>
            <%= button_to "Like", like_tweet_path(tweet) %>
            <%= tweet.like_count %>
          <% end %>
          <% end %>
        </td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

  
</table>

<div class="row">
  <div  class="col-md-8 offset-md-2">
    <%= link_to_next_page @tweets, 'Mostrar más tweets' %>
  </div>
</div>


<br>

<%= link_to 'New Tweet', new_tweet_path %>
