
<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @tweet.user %>
</p>

<p> Likes </p>
<% @tweet.tweet_likes.each do |tweet| %>
  <%= image_tag tweet.users_whit_like, :width=> "40", :height=> "40"%>
<% end %>


<div>Seccion para user<div>


<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
